<div class="p-2">
    <div>
        <center>
            <h1><span class="badge bg-secondary ">{{name}}</span></h1>
        </center>
        <p class="placeholder-glow">
            <span class="placeholder col-12"></span>
        </p>
    </div>
    <div>
        <ul>
            {{#each users}}
            <li>
                <div><span class="badge text-bg-dark">
                        <div><strong>Id :</strong> {{id}}
                        </div>
                    </span>

                    <div><strong>Name :</strong> {{name}}
                    </div>
                    <div><strong>Gender :</strong> {{gender}}
                    </div>
                    <div><strong>Age :</strong> {{age}}
                    </div>


                    <span class="badge text-bg-primary mt-2">
                        <h4>Friends:</h4>
                    </span>

                    <ul class="pt-4">
                        {{#each friends}}
                        <div>
                            <li>
                                <div class="alert alert-warning" role="alert">
                                    <span class="badge rounded-pill text-bg-info">
                                        <div><strong>Id :</strong> {{id}}
                                        </div>
                                    </span>

                                    <div><strong>Name :</strong> {{name}}
                                    </div>
                                    <div><strong>Gender :</strong> {{gender}}
                                    </div>
                                    <div><strong>Age :</strong> {{age}}

                                    </div>

                                    <span class="badge text-bg-primary mt-3">
                                        <h5>Mutual friends:</h5>
                                    </span>
                                    {{#each mutual_friends}}
                                    <div><strong>Id :</strong> {{id}}
                                    </div>
                                    <div><strong>Name :</strong> {{name}}
                                    </div>
                                    <div><strong>Gender :</strong> {{gender}}
                                    </div>
                                    <div><strong>Age :</strong> {{age}}
                                    </div>





                                    {{#if mutual_friends }}
                                    <hr class="mt-3 mb-3">
                                    <span class="badge text-bg-primary">
                                        <h5>Mutual friends:</h5>
                                    </span>
                                    <ul>
                                        {{#each mutual_friends}}
                                        <li>
                                            <div><strong>Id :</strong> {{id}}
                                            </div>
                                            <div><strong>Name :</strong> {{name}}
                                            </div>
                                            <div><strong>Gender :</strong> {{gender}}
                                            </div>
                                            <div><strong>Age :</strong> {{age}}
                                            </div>

                                        </li>
                                        {{/each}}
                                    </ul>

                                    {{/if}}
                                    {{/each}}

                                    {{#if groups }}
                                    <hr class="mt-3 mb-3">
                                    <span class="badge text-bg-primary">
                                        <h4>Groups:</h4>
                                    </span>
                                    <br>
                                    <ul>
                                        {{#each groups}}

                                        <li>
                                            <div class="alert alert-warning" role="alert">
                                                <div>
                                                    <span class="badge rounded-pill text-bg-info">
                                                        <div><strong>Id :</strong> {{id}}
                                                        </div>
                                                    </span>

                                                    <div><strong>Name :</strong> {{name}}
                                                    </div>
                                                    <p>{{description}}</p>
                                                    <div>
                                                        <span class="badge text-bg-primary">
                                                            <h5>Members:</h5>
                                                        </span>
                                                        {{#each members}}
                                                        <div><strong>Id :</strong> {{id}}
                                                        </div>
                                                        <div><strong>Name :</strong> {{name}}
                                                        </div>
                                                        <div><strong>Gender :</strong> {{gender}}
                                                        </div>
                                                        <div><strong>Age :</strong> {{age}}
                                                        </div>

                                                        {{/each}}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {{/each}}

                                    </ul>
                                    {{/if}}
                                </div>
                            </li>
                            {{/each}}
                    </ul>
                    {{#if groups}}
                    <hr class="mt-3 mb-3">
                    <span class="badge text-bg-primary">
                        <h4>Groups:</h4>
                    </span>

                    <ul class="pt-4">
                        {{#each groups}}

                        <li>
                            <div class="alert alert-warning" role="alert">
                                <div>
                                    <span class="badge rounded-pill text-bg-info">
                                        <div><strong>Id :</strong> {{id}}
                                        </div>
                                    </span>

                                    <div><strong>Name :</strong> {{name}}
                                    </div>
                                    <p>{{description}}</p>
                                    <div>
                                        <span class="badge text-bg-primary">
                                            <h5>Members:</h5>
                                        </span>
                                        {{#each members}}
                                        <div><strong>Id :</strong> {{id}}
                                        </div>
                                        <div><strong>Name :</strong> {{name}}
                                        </div>
                                        <div><strong>Gender :</strong> {{gender}}
                                        </div>
                                        <div><strong>Age :</strong> {{age}}
                                        </div>

                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}


                    </ul>

                </div>

                <hr class="mt-3 mb-3">
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>