<div class="p-2">
    <div>
        <h1>{{name}}</h1>
    </div>
    <div><span>{{description}}</span></div>
    <hr class="mt-3 mb-3">
    <h2>History</h2>
    <div>
        {{#with history}}
        <div>Year: {{year}}</div> Founder: <em>{{founder}}</em>
        {{/with}}
    </div>

    <hr class="mt-3 mb-3">
    <h3>Types:</h3>
    <div>
        <ul>
            {{#each types}}
            <li>
                {{>button data=this}}
            </li>
            {{/each}}
        </ul>
    </div>

    <hr class="mt-3 mb-3">
    <div>
        <h3 class="mb-4">Syntax:</h3>
        <ul>
            {{#with syntax}}
            <div>
                <li>
                    <h4>Variables:</h4>
                    {{#each variables}}

                    {{>button2 data=this}}
                    {{/each}}
                </li>

                <li class="pt-2">
                    <h4>Conditionals:</h4>

                    {{#each conditionals}}
                    {{>button2 data=this}}
                    {{/each}}
                </li>

                <li>
                    <h4>Functions:</h4>

                    {{#each functions}}
                    {{>button2 data=this}}
                    {{/each}}
                </li>

                <li>
                    <h4>Loops:</h4>

                    {{#each loops}}
                    {{>button2 data=this}}
                    {{/each}}
                </li>


                <li>
                    <h4>Classes:</h4>

                    {{#each classes}}
                    {{>button2 data=this}}
                    {{/each}}
                </li>

            </div>
            {{/with}}
        </ul>
    </div>

    <hr class="mt-3 mb-3">
    <div>
        <h3>Features:</h3>
        <div>
            {{#each features}}
            {{>button data=this}}
            {{/each}}
        </div>
    </div>

    <hr class="mt-3 mb-3">
    <div>
        <h3>Libraries:</h3>
        <div>
            {{#each libraries}}
            {{>button data=this}}
            {{/each}}
        </div>
    </div>

    <hr class="mt-3 mb-3">
    <div>
        <h3>Tools:</h3>
        <div>
            {{#each tools}}
            {{>button data=this}}
            {{/each}}
        </div>
    </div>

    <hr class="mt-3 mb-3">
    <div>
        <h3>Community:</h3>
        <div>
            <ul>
                {{#each community}}
                <li class="m-3">
                    <em>{{name}}</em>
                    {{>button data=type}}

                </li>


                {{/each}}

            </ul>
        </div>
    </div>

    <hr class="mt-3 mb-3">
</div>