<main class="p-2">

    <section class="mt-5">
        {{#with newsBlock}}
        <h2 class="text-center">{{title}}</h2>
        <div class="row gy-3 gx-2">
            {{> shoppost}}
        </div>
        {{/with}}

    </section>
    <hr class="m-5">
    <section>
        {{#with goodsBlock}}
        <ul class="nav nav-tabs mb-5">
            {{#each tabs}}

            <li class="nav-item">

                <a href="#"
                    class="nav-link {{#if isActive}} active {{/if}} {{#if isDisabled}} disabled {{/if}}">{{text}}</a>




            </li>

            </div>
            {{/each}}
        </ul>

        {{> shopcard}}
        {{/with}}

    </section>
    <hr class="m-5">
    <section>
        <div class="card bg-dark">
            <div class="d-flex  justify-content-center py-3  ">
                {{#with subscribe}}

                <div class="text-white ps-2 mb-3 mb-md-0 me-md-auto ">
                    <h2>{{header}} </h2>
                    <p>{{description}}</p>
                </div>


                <ul class="nav py-3 mb-2 ">
                    {{#each buttons}}

                    <li class="nav-item p-2">

                        <button href="{{link}}" class="btn btn-primary ">{{text}}</button>
                    </li>

                    {{/each}}

                </ul>
                {{/with}}


            </div>
        </div>
    </section>

    <hr class="m-5">
    {{> shopaction}}
    <hr class="m-5">

</main>