<main class="p-2">
    <section>
        {{#with heading}}
        <div class="card">
            <div class="card-body">

                <div class="card">
                    <div class="card-body">
                        {{#with main}}
                        <h1>{{title}}</h1>
                        <p>{{text}}</p>
                        {{#with button_text}}
                        <button class="btn btn-primary">{{solid}}</button> </br>
                        </br>

                        <button class="btn btn-outline-primary ">{{outline}}</button>
                        {{/with}}
                        {{/with}}
                    </div>
                </div>
                <br>

                <div class="card">
                    <div class="card-body">
                        {{#with second}}
                        <h1>{{title}}</h1>
                        <p>{{text}}</p>
                        {{#with button_text}}
                        <div><button class="btn btn-secondary">{{solid}}</button> </div> <br>



                        <div><button class="btn btn-outline-secondary ">{{outline}}</button></div>
                        {{/with}}
                        {{/with}}
                    </div>
                </div>
                <br>

                <div class="card">
                    <div class="card-body">
                        {{#with subblock}}
                        <h1>{{title}}</h1>
                        <p>{{text}}</p>
                        {{#with button_text}}
                        <div><button class="btn btn-dark">{{solid}}</button> </div> <br>



                        <div><button class="btn btn-outline-dark">{{outline}}</button></div>
                        {{/with}}
                        {{/with}}
                    </div>
                </div>
                <br>

            </div>
        </div>
        {{/with}}
    </section>
    <section>
        {{#with nested_display }}
        <div class="card">
            <div class="card-body">
                <div class="display-1 ">{{title}}</div> <br>
                <div class="card">
                    <div class="card-body">
                        {{#with children_display}}
                        <div class="display-4 ">{{title}}</div>
                        <p>{{text}}</p>
                        <div><button class="btn btn-outline-warning">{{button.text}}</button></div>
                        {{/with}}
                    </div>
                </div>
                <br>
                <h6>{{header_text}}</h6>
                <div><button class="btn btn-info">{{button.text}}</button> </div>
            </div>
        </div>
        {{/with}}
    </section>
    <section>
        {{#with paragraph }}
        <div class="card">
            <div class="card-body">
                <p class="text-uppercase">{{title}}</p>
                <p class="text-lowercase">{{text}}</p>
                <a class="text-primary" href="{{button.url}}">{{button.text}}</a>
                </br>
                </br>

                <div class="card">
                    <div class="card-body">
                        <ul>
                            {{#each list_name}}
                            <li>
                                <button type="button" class="btn btn-link" href="{{url}}">{{text}}</button>
                            </li>

                            {{/each}}
                        </ul>
                    </div>
                </div>
                <br>

            </div>
        </div>
        {{/with}}
    </section>


    <div></div>

</main>